body {
    background-color: #6a7a94;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #FFFFFF;
    margin-top: 50px;
}

p {
    margin: 0px 50px 0px 50px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF; /* White text color */
    background-color: #2883b0; /* Darker green color */
    margin: 20px;
}