* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.user > div {
    background-image: linear-gradient(black, rgb(65, 223, 228));
    margin: 30px;
    padding: 5px;
    border-radius: 20px;
}

body {
    background-color: rgb(188, 25, 221);
    margin-left: 30px;
}

span, p {
    color: white;
}

h1 {
    margin-left: 20px;
}

.navbar > a {
    margin-left: 20px;
}

.btn {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    color: #FFFFFF;
    background-color: green;
    margin-top: 0px;
    width: 120px;
    display: inline-block;
}

.btn > a {
    text-decoration: none;
}

.limit {
    font-size: 20px;
}

table tr td, table th{
    color: white;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

select {
    font-size: 16px;
    padding: 10px;
    padding-right: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
  }
  
  button[type="submit"] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3e8e41;
}