{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <link rel="stylesheet" href="{% static 'css/home/style.css' %}">
    </head>
    <body>
        <h1 class="topbar">Expursuit</h1>
        <div class="flex-container">
            <div class="navbar">
                <ul>
                    <li><b>Administration</b></li>
                    <ul>
                        <li>Dashboard</li>
                        <li>Members</li>
                    </ul>
                    <li><b>Managements</b></li>
                    <ul class=>
                        <li>Requests</li>
                        <li>Invoices</li>
                        <li>Trasactions</li>
                    </ul>
                </ul>
            </div>
            <div class="user">
                <h1>Welcome {{ name }}</h1>
                <p>Your spendings: {{ spending }}</p>
                <p>Your budget: {{ budget }}</p>
                <p>You spend {{ percentage }}% of your budget</p>
                <progress value="{{ percentage }}" max="100">{{ percentage }}%</progress>
            </div>
        </div>
        </div>
    </body>
</html>