{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Page</title>
	<link rel="stylesheet" href="{% static 'css/home/profile_style.css' %}">
</head>
<body>
	<header>
		<h1>User Page</h1>
	</header>

	<main>
		<div class="profile">
			<img src="{{ '../media/' }}{{ profilePicture }}">
			<h2>{{ name }}</h2>
			<p>Username: {{ username }}</p>
			<p>Email: {{ email }}</p>
			<p>Budget: {{ budget }}</p>
			<a href="/update">Edit</a>
		</div>
	</main>

	<footer>
		<p>Copyright © 2023</p>
	</footer>
</body>
</html>