{% load static %}

<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/login_register/signup_style.css' %}">		
	</head>
	<body>
		<div class="container">
			<h1>Sign Up</h1>
			<form method="get">
				<input type="text" placeholder="Full Name" required><br>
				<input type="email" placeholder="Email" required><br>
				<input type="password" placeholder="Password" required><br>
				<input type="submit" value="Sign Up">
			</form>
			<button><a href="/">Home</a></button>
		</div>
	</body>
</html>